<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="InternetBankingV1">

    <listeners>
        <listener class-name="com.seleniumeasy.utils.Reporting"/>
    </listeners>
    
    <test name="Selenium Easy Test">
        <parameter name="browser" value="Chrome" />
        <classes>
            <!--
            <class name="com.seleniumeasy.tests.TC_SimpleForm_001"></class>
            <class name="com.seleniumeasy.tests.TC_CheckBox_002"></class>
            <class name="com.seleniumeasy.tests.TC_RadioButton_003"></class>
            <class name="com.seleniumeasy.tests.TC_SelectDropDown_004"></class>
            <class name="com.seleniumeasy.tests.TC_ImportForm_005"></class>
            <class name="com.seleniumeasy.tests.TC_AjaxForm_006"></class>
            <class name="com.seleniumeasy.tests.TC_JQuery_007"></class>

            <class name="com.seleniumeasy.tests.TC_DatePicker_008"></class>
            -->
            <class name="com.seleniumeasy.tests.TC_TablePagination_010"></class>
        </classes>
    </test>
</suite>
